@using Application.Models.Auth
@model LoginViewModel

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label">Hasło:</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Zaloguj się</button>

    <hr />

    <p>lub zaloguj się za pomocą:</p>

    <div>
        <a asp-controller="Auth" asp-action="ExternalLogin" class="btn btn-primary">Zaloguj przez google</a>
    </div>
}
