@using Application.Models.Account
@model List<UsersViewModel>

@{
}

<section class="section-padding">
    <div class="container mt-5 mb-5 border rounded bg-light p-3">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-4">
                            <p>Nazwa użytkownika</p>
                        </th>
                        <th class="col-4">
                            <p>Email</p>
                        </th>
                        <th class="col-4">
                            <p>Aktualizuj</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var model in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(p => model.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(p => model.Email)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "User", new { id = model.Id })">Edytuj</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="@Url.Action("Create", "User")">Dodaj nowego użytkownika</a>
        </div>
    </div>
</section>